@model Tarefas.Web.Models.TarefaViewModel

<form asp-action="Update" class="row g-3">

    <h3>Edição de Tarefa</h3>

    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-for="Id" hidden />

    <div class="col-12">
        <div class="form-group">
            <label asp-for="Titulo">@Html.DisplayNameFor(model => model.Titulo)</label>
            <input asp-for="Titulo" class="form-control"/>
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
    </div>

    <div class="col-12">
        <div class="form-group">
            <label asp-for="Descricao">@Html.DisplayNameFor(model => model.Descricao)</label>
            <input asp-for="Descricao" class="form-control"/>
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
    </div>
    
    <div class="col-12">
        <div class="form-check form-switch">            
            <input type="checkbox" asp-for="Concluida" class="form-check-input"/>
            <label class="form-check-label" asp-for="Concluida">@Html.DisplayNameFor(model => model.Concluida)</label>            
        </div>
    </div>

    <div class="col-12">
        <input type="submit" class="btn btn-primary" /> <a class="btn btn-secondary" asp-controller="Tarefa" asp-action="Index">Voltar</a>
    </div>
        
</form>

@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}